{% extends "layout.html" %}

{% block title %} Agenda {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <h3>Create</h3>

    <form method="POST">
        {{ form.csrf_token }}
        {{ form.id.label }}
        {{ form.id() }}
        {{ form.content.label }}
        {{ form.content() }}
        <button>Create</button>
    </form>

    <a href="{{ url_for('agenda.index') }}">Back</a>
{% endblock %}
