{% extends "layout.html" %}

{% block title %} Agenda {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <h1>Agenda</h1>

    <div>
        {% for item in agenda %}
            <div>
                <div> {{ item.id }} - {{ item.content }} </div>
            </div>
        {% endfor %}
    </div>

    <a href="{{ url_for('agenda.create') }}">Create</a>
{% endblock %}
