<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>{% block title %} {% endblock %}</title>

		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}"
		/>
		{% endblock %}
	</head>
	<body>
		<div id="content">
            {% block content %} {% endblock %}
        </div>
	</body>
</html>
